*, *:before, *:after {
    box-sizing: border-box;
}

html{
    font-family: "Palatino", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #F7F5F0;
    line-height: 1.15;
}

body{
    width:100%;
    margin:auto;
    padding-top:1rem;
}

.brand{
    width:88%;
    margin:auto;
    height:auto;
    display:flex;
    justify-content: space-between;
}

.navbar ul{
    display:flex;
    overflow:hidden;  
    list-style-type:none;
    padding:0;
    width:100%;
}

.navbar ul li{
    padding:.5rem 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .11rem;
    font-size: .9rem;
}

.navbar>ul>li>a{
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;
}

.selected{
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
    border-bottom: 2.5px solid #e5bf76;
    font-weight:bold;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
}

main{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.typesofwines{
    flex:22%;
    background:#fffdf7;
    margin-top:2rem;
}

.typesofwines ul{
    display:block;  
    list-style-type:none;
    padding:4rem 0;
    text-align: center;
    position: fixed;
    width: 22%;
    margin:0px auto;
}

.typesofwines ul li{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .77rem;
    line-height: 3.3rem;
}

.typesofwines>ul>li>a{
    text-decoration: none;
    background: linear-gradient(to bottom, #a68676 0%, #210e03 100%); /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-background-clip: text; /*https://codepen.io/leocampos/pen/pPwwNR*/
    -webkit-text-fill-color: transparent; /*https://codepen.io/leocampos/pen/pPwwNR*/
    color: #a68676;
}

.typesofwines a:hover, .typesofwines a:focus, .typesofwines a:active {
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    text-decoration: none;
    font-weight: bold;
}

.productlist{
    flex:78%;
    margin-top:2rem;
    position: relative;
}

.productlist img{
    z-index:-1;
}

.productlist h3{
    position: absolute;
    top:4.4rem;
    left:4rem;
    letter-spacing: .4rem;
    font-size: .9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #210e03;
    z-index:1;
}

.productlist h2{
    position: absolute;
    top:5.5rem;
    left:4rem;
    font-family: "Garamond", serif;
    letter-spacing: .11rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #a68676;
    z-index:1;
}

.productlist .subtitle{
    position: absolute;
    top:20rem;
    left:42rem;
    letter-spacing: .2rem;
    font-size: .77rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #210e03;
    z-index:1;
}

.productlist h1{
    position: absolute;
    top:21rem;
    left:42rem;
    font-family: "Garamond", serif;
    letter-spacing: .11rem;
    font-size: 3rem;
    text-transform: capitalize;
    background: linear-gradient(to bottom, #f5dfb0 0%, #e5bf76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#e5bf76;
    z-index:1;
}

.productlist .addbtn1{
    position: absolute;
    top:35rem;
    left:42rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-transform: capitalize;
    background: none;
    font-weight: 600;
    color:#210e03;
    border:1.5px solid #e5bf76;
    border-radius: 20px;
    padding:1rem 2rem;
    z-index:1;
    transition:background-color 0.25s;
}

.productlist>button>span{
    padding-right:3.5rem;
}

.productlist button:hover, .productlist button:focus, .productlist button:active{
    text-decoration: none;
    background-color: #210e03;
    border:1.5px solid #210e03;
    color: #a68676;
} 

.productlist .sentences{
    width:55%;
    margin:1.5rem auto;
    line-height: 2.25;
    font-size: .9rem;
    text-align: justify;
}

.listRow{
    margin:auto;
    height:auto;
    display:flex;
    text-align: center;
    justify-content: space-between;
    width:100%;
}

.listRow div img{
    width:95%;
}